<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/articles.css'>
    <title>
        EJS
    </title>
</head>
<body>
<% if(Array.isArray(articlesList)) { %>
    <ul>
        <% articlesList.forEach(function (item) { %>
            <li>
                <h2>
                    <a href='/articles/render/<%= item.id %>'><%= item.title %></a>
                </h2>
                <p><%= item.createdAt %></p>
                <p><%= item.author %></p>
                <p><%= item.text %></p>
            </li>
        <% }) %>
    </ul>
<% }else { %>
    <div>
        <h2><%= articlesList.title %></h2>
        <p><%= articlesList.createdAt %></p>
        <p><%= articlesList.author %></p>
        <p><%= articlesList.text %></p>
    </div>
<% } %>

</body>
</html>